.navigation {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}

.navSection {
    display: grid;
    grid-auto-flow: column;
    column-gap: 3rem;
}

.link {
    color: var(--black);
    cursor: pointer;
    text-decoration: none;
}

.link:hover {
    color: var(--gray);
}
